.copy-inputs {
	margin-top: 15px;
}

.input-file {
	margin-top: 7px;
	height: 40px;
	width: 320px;
	background-color: #219ab3;
	padding-left: 8px;
	display: inline-block;
}

.input-file span {
	margin-top: 5px;
	margin-right: 5px;
}

.input-file input {
	direction: rtl;
	position: relative;
	top: -6px;
	width: 279px;
	height: 40px;
	background-color: black;
	border: 1px #219ab3 solid;
	font-size: 16px;
	color: #219ab3;
}

.input-file input::-webkit-input-placeholder {
   direction:ltr;
}

#profile-selector {
	outline: 0;
	position: relative;
	left: -8px;
	top: -6px;
	width: 283px;
	height: 40px;
	background-color: black;
	border: 1px #219ab3 solid;
	font-size: 16px;
	color: #219ab3;
	-webkit-transition: all 0.2s; /* Safari */
    transition: all 0.2s;
}

.octicon-chevron-down {
	position: relative;
  	right: 3px;
}

#profile-selector:focus {
	outline: 0;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(33,154,179,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(33,154,179,1);
	box-shadow: 0px 0px 10px 0px rgba(33,154,179,1);
}

.selector-container {
	padding: 5px;
	margin-top: 40px;
	overflow: auto;
}

#selector-left, #selector-right {
	border: 1px #219ab3 solid;
	width: 320px;
	height: 325px;
	float: left;
	white-space: nowrap;
	padding: 5px;
	overflow-x:hidden;
	font-size: 14px;
	font-weight: 100;
	color: #219ab3; 
}

#selector-left label, #selector-right label {
	direction: rtl;
	width: 280px;
	float: right;
	overflow-x:hidden;
}

#selector-left {
	margin-left: 68px;
}

#selector-controls-container {
	width: 103px;
	height: 325px;
	float: left;
}

#selector-controls-container span {
	margin-top: 72px;
	border-radius: 30px;
	display: inline-block;
	padding: 10px 20px;
	border: 1px #219ab3 solid;
	color: #219ab3;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

#selector-controls-container span:hover {
	color: white;
	background-color: #219ab3; 
}

.copy-btn {
	width: 220px;
	height: 40px;
	border: 1px #219ab3 solid;
	margin: 25px 10px;
	color: #219ab3;
	padding: 9px;
	text-align: center;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

.copy-btn:hover {
	color: white;
	background-color: #219ab3;
}