html, body {
	background-color: #101010 !important;
	color: white !important;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

#header {
	padding: 5px;
	height: 90px;
	border-bottom: 1px #505050 solid;
	-webkit-app-region: drag;
	-webkit-user-select: none;
}

#header h1 {
	position: relative;
	top:-5px;
	display: inline;
	font-size: 50px;
	color: orange;
}

#window-controls {
	float: right;
	font-size: 24px;
	-webkit-app-region: no-drag;
}

#minimize, #close {
	font-size: 30px;
	position: relative;
	top: -4px;
	-webkit-transition: color 0.5s; /* Safari */
    transition: color 0.5s;
}

#close:hover {
	color: red;
}

#minimize {
	top: 1px;
	right: -10px;
}

#minimize:hover {
	color: #219ab3;
}

.octicon {
	padding: 0px;
	height: 24px !important;
}

#top-nav {
	-webkit-app-region: no-drag;
}

.nav-item {
	font-size: 14px;
	display: inline-block;
	padding: 3px 7px;
	margin-left: 2px;
	background-color: #303030;
	-webkit-transition: background-color 0.2s; /* Safari */
    transition: background-color 0.2s;
}

.nav-item.active {
	background-color: #505050;
}

.nav-item:hover {
	background-color: #505050;
}

.tab-content {
	padding: 5px;
}

.tab-pane {
	height: 83%;
	overflow-y: auto; 
	overflow-x: hidden; 
}

.tab-pane::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #black;
}
 
.tab-pane::-webkit-scrollbar
{
    width: 3px;
    background-color: #219ab3;
 
}
 
.tab-pane::-webkit-scrollbar-thumb
{
    background-color: #eee;
 
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
        color-stop(.5, rgba(255, 255, 255, .2)),
        color-stop(.5, transparent), to(transparent));
}